@tailwind base;
@tailwind components;
@tailwind utilities;

.PopoverTrigger {
  background-color: white;
  border-radius: 4px;
}

.PopoverContent {
  border-radius: 4px;
  padding: 20px;
  width: 260px;
  background-color: white;
}

.PopoverArrow {
  fill: white;
}

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[20px] text-black font-light mt-5;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-12 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-x-hidden;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-indigo-400 inline-block text-transparent bg-clip-text;
}
/* END: Hero styles */

.sub__title {
  @apply 2xl:text-[64px] sm:text-[50px] text-[42px] font-semibold text-gray-600 hover:text-black;
}
.sub_sub__title {
  @apply 2xl:text-[42px] sm:text-[24px] text-[18px] font-semibold text-black;
}

/* Waving hand */
.waving-hand {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: 5;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* END of waving hand */
